body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.date {
    text-align: center;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.user-info input {
    flex: 1;
    margin-right: 10px;
}

.form {
    margin-bottom: 20px;
}

.transaction-inputs,
.debt-plan,
.monthly-payments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

input, select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    flex: 1 1 45%; /* Занимает 45% ширины с возможностью сжатия */
    min-width: 200px; /* Минимальная ширина для мобильных устройств */
    font-size: 14px;
}

button {
    padding: 10px 15px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 14px;
}

button:hover {
    background: #0056b3;
}

.balance {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#transactions,
#monthlyPaymentsList {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.transaction,
.monthly-payment {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;
    border-radius: 5px;
}

.income {
    color: #28a745;
}

.expense {
    color: #dc3545;
}

#clearTransactions {
    background: #dc3545;
}

#clearTransactions:hover {
    background: #c82333;
}

#categoryFilter {
    flex: 1 1 40%; /* Занимает 40% ширины */
}

@media (max-width: 600px) {
    .transaction-inputs,
    .debt-plan,
    .monthly-payments {
        flex-direction: column;
    }

    input, select, button {
        width: 100%;
        margin: 5px 0;
    }

    .user-info {
        flex-direction: column;
    }

    .user-info input {
        margin-bottom: 10px;
        margin-right: 0; /* Убираем margin справа для мобильного режима */
    }
}
